.title {
    color: white;
    padding-top: 15vh;
    font-size: 24px;
    font-weight: 600;
}

.header {
    color: white;
    padding-top: 10vh;
    font-size: 20px;
    font-weight: 500;
}

.headerImage {
    
}

.bodyText {
    color: white;
    padding-top: 10px;
    font-size: 16px;
    font-weight: 400;
}