/* This is the master css file */
/* Not certain how the best way to organize css is so this will be a learning process */

/* 
#0E0E0E
#17181D
#301F2D
#CC333F 
*/


body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    background-color: #17181d;
    padding-left: 5%;
    padding-right: 5%;
}

a {
    color: #CC333F;
}

/*Navbar*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0e0e0e;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 16px 5px;
}

.navbarTitle {
    font-size: 30px;
    color: white;
    font-weight: 600;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
    background-color: #0e0e0e;
}

.navbar ul li {
    margin: 0;
    padding: 0;
}

.navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 24px;
    text-decoration: none;
    font-size: 20px;
}

.navbar a {
    position: relative;
}

.navbar ul li a:hover {
    color: #cc333f;
}

.navbar a.active {
    color: #cc333f;
}

.navbar a.active::after {
    content: "•";
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    color: #cc333f;
    font-size: 30px;
}

/* crazy stupid solution for padding on the right of the navbar */
.navbar ul li:last-child a {
    margin-right: 35px;
}
/* */

.column {
    display: flex;
    flex-direction: column;
}

.content {
    margin-top: 60px; /* Adjust this value based on your navbar height */
}

.row {
    display: flex;
    flex-direction: row;
}



